
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>MVC Project</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıqlama</th>
            <th>Status</th>
            <th>Güncəllə</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Təhsil</td>
            <td>Açıqlama1</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncəllə</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>İdman</td>
            <td>Açıqlama2</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncəllə</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Kitab</td>
            <td>Açıqlama3</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncəllə</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Sinema</td>
            <td>Açıqlama4</td>
            <td>True</td>
            <td><button class="btn btn-success">Güncəllə</button></td>
        </tr>

    </table>
        <button class="btn btn-info">Yeni Kategoriya</button>
        <button class="btn btn-warning">Kategoriya Listi</button>
        <button class="btn btn-danger">Kategoriya Açıqlamaları</button>
</body>
</html>
